<div id="background">
  <div id="content">
    <h1>Integrated Medical Monitoring Platform for Home-care assistance</h1>
    <h5>Enabling real time monitoring of patients, remote-assisted care services and smart intake mechanism for
      prescribed medication.</h5>
    <hr>
    <p>This assignment represents the first module of the distributed software system "Integrated Medical Monitoring
      Platform for Home-care assistance that represents the final project for the Distributed Systems course.</p>
    <a class="btn btn-light" href="http://coned.utcluj.ro/~salomie/DS_Lic/">Learn more</a>
  </div>
</div>
