#title-container{
  background: #f2f2f2;
  height: 55px;
  padding: 15px;
  border-bottom: 2px #e6e6e6 solid;
}

#title{
  font-weight: 700;
}

#buttons-container{
  padding: 50px;
}

.btn{
  margin-right: 30px;
}
